[submodule "3rdparty/iio"]
	path = 3rdparty/iio
	url = https://github.com/mnhrdt/iio.git
	ignore = untracked
[submodule "3rdparty/mgm"]
	path = 3rdparty/mgm
	url = https://github.com/gfacciol/mgm.git
	ignore = untracked
[submodule "3rdparty/tvl1flow"]
	path = 3rdparty/tvl1flow
	url = https://github.com/mnhrdt/tvl1flow.git
	ignore = untracked
[submodule "3rdparty/mgm_multi"]
	path = 3rdparty/mgm_multi
	url = https://github.com/gfacciol/mgm.git
	branch = multiscale
	ignore = untracked
[submodule "3rdparty/lsd"]
	path = 3rdparty/lsd
	url = https://github.com/cmla/lsd.git
	ignore = untracked
[submodule "3rdparty/imscript"]
	path = 3rdparty/imscript
	url = https://github.com/mnhrdt/imscript.git
	ignore = untracked
[submodule "3rdparty/sift"]
	path = 3rdparty/sift
	url = https://github.com/cmla/sift
	ignore = untracked
[submodule "3rdparty/homography"]
	path = 3rdparty/homography
	url = https://github.com/cmla/homography
	ignore = untracked
[submodule "3rdparty/msmw3"]
	path = 3rdparty/msmw3
	url = https://github.com/cmla/msmw3
	ignore = untracked
