{
  "out_dir" : "test",
  "images" : [
    { "img" : "data/pleiades/toulouse/im02.tif",
      "rpc" : "data/pleiades/toulouse/rpc02.xml",
      "clr" : "data/pleiades/toulouse/im02_color.tif",
      "prv" : "data/pleiades/toulouse/prev02.jpg" },
    { "img" : "data/pleiades/toulouse/im01.tif",
      "rpc" : "data/pleiades/toulouse/rpc01.xml" },
    { "img" : "data/pleiades/toulouse/im03.tif",
      "rpc" : "data/pleiades/toulouse/rpc03.xml" }
    ],
  "roi" : {
    "x" : 25150,
    "y" : 24250,
    "w" : 300,
    "h" : 300
    },
  "full_img" : false,
  "matching_algorithm" : "sgbm",
  "subsampling_factor" : 1,
  "subsampling_factor_registration" : 1,
  "sift_match_thresh" : 0.6,
  "disp_range_extra_margin" : 0.2,
  "n_gcp_per_axis" : 5,
  "epipolar_thresh" : 0.5,
  "use_pleiades_unsharpening" : true,
  "debug" : false,
  "temporary_dir" : "/tmp",
  "tile_size" : 800,
  "clean_tmp" : true,
  "offset_ply" : false,
  "disp_range_method" : "sift",
  "disp_range_srtm_high_margin" : 50,
  "disp_range_srtm_low_margin" : -20,
  "skip_existing" : false,
  "msk_erosion": 0
}
