include README.md
include makefile

recursive-include c *.c *.h *.cpp *.pgm Makefile
prune c/msmw
prune c/test_colormesh

include 3rdparty/iio/iio.c
include 3rdparty/iio/iio.h

recursive-include 3rdparty/mgm_multi *
prune 3rdparty/mgm_multi/data
prune 3rdparty/mgm_multi/matlab

recursive-include 3rdparty/mgm *
prune 3rdparty/mgm/data
prune 3rdparty/mgm/matlab

recursive-include 3rdparty/tvl1flow *

recursive-include 3rdparty/lsd *.c *.h Makefile

include 3rdparty/imscript/Makefile
recursive-include 3rdparty/imscript/bin *
recursive-include 3rdparty/imscript/src *
prune 3rdparty/imscript/src/misc/older
prune 3rdparty/imscript/src/misc/unused

global-exclude .git .travis.yml *.png
